body {
    display: flex;
    justify-content: center; 
    align-items: center;  
    background-color: aqua;
    height: 400px;
    border: 2px solid black;
    margin: 0
}

img {

    width: 500px;
    height: auto;
    border: 2px solid black;
}